@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f6f9fc;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--canvas {
    margin-top: 30px;
    width: 800px;
    height: 700px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls--colors {
    margin-top: 40px;
    display: flex;
}

.controls--colors--color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

